<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" href = "../static/showpage.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/89e57c9a66.js" crossorigin="anonymous"></script>
  <title>爆絶強力コトダマン辞書データベース</title>
  <mata name = "viewport" content = "width = device-width, initial-scale = 1"></mata>
</head>
<body>
  <div id='fundthanks'>
    <p>{{ amount }}円のお支払いが完了しました!</p>
    <i class="fas fa-pray" style='font-size:70px'></i>
    <h3>ありがとう！</h3>
  </div>

</body>